.App {
  text-align: center;
}

.previous{
 position: relative;
 top: -50px;
 left: -40vw;
 font-size: 25px;
 color: white;
 background: black;
 border: 0;

}

.next{
  position: relative;
  top: -50px;
  right: -40vw;
  font-size: 25px;
  color: white;
  background: black;
  border: 0;
}
